


*{
  margin: 0;
  padding: 0;
  font-family:'Poppins',sans-serif;
  box-sizing: border-box;
}

body{
  background: #222;
}
.card{
  width: 90%;
  max-width: 470px;
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  color:#fff;
  margin:100px auto 0;
  border-radius: 20px;
  padding:40px 35px;
  text-align: center;

}
.weather-icon{
  width: 170px;
  margin-top: 30px;
}
.weather h1{
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;

}
.weather h2{
  font-size:45px;
  font-weight: 400;
  margin-top: -10px;

}
details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col{
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  margin-right: 10px;

}
.humidity, .wind{
  font-size: 28px;
  margin-top:-6px ;
}